.joinList_container{

    width: 100%;

      
}
.join_background-img{
    width: 100%;

    padding: 0 9rem;
background-repeat: no-repeat;
        background-image: url('../assets/BG_8.svg');
        background-size: cover;
       
}
.join_container{
    border-radius: 24px;
    background: #FD4507;
    backdrop-filter: blur(58.48628616333008px);
    display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
      width: 40%;
}
.join_text_container{

}
.join_heading{
    color: #FE6937;
text-align: center;
font-size: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
line-height: 120%;
}
.join_heading_container{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.join_wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
}
.form {
    width: 80%;
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  .inputLabel {
    display: flex;
    margin-top: 1.5rem;
  }
  .input1 {
   
    padding: 12px 16px;
    border-radius: 24.888px;
    border: none;
      background: #fff9f2;
      backdrop-filter: blur(58.48628616333008px);
    font-size: 18px;
    font-weight: 500;
    color: rgb(30 16 12);
    outline: none;
  }
  .input1::placeholder {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.1rem;
    color: #3d3d3d;
  }
  .submit_container{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .join_Btn{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 600; 
    font-size: 1rem;
   width: 100px;
    color: #3d3d3d;
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .qus_heading_container{  
    border-bottom: 1px solid #000;
    padding-bottom: 3rem;
  }
  .qus_heading_container_1{  
    border-bottom: 1px solid rgba(0, 0, 0, 0.60); 
 
    padding: 2rem;
  }
  .qus_heading_container_2{  
  
    padding: 2rem;
  }
  .qus_heading{
    color: #000;
    text-align: center;
    font-size: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 1rem;
  }
  .qus_container{  
padding-bottom: 2rem;
   }
   .qus_heading_1{
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
 
  }
  .ans_heading{
  
    color: rgba(0, 0, 0, 0.60);
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  .more_heading{
  
    color: rgba(0, 0, 0, 0.60);
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 1rem;
  }
  .help{
cursor: pointer;
  }

  @media screen and (max-width: 1030px) {
    .join_background-img {
  
      padding: 0 2rem;}
  }
  @media screen and (max-width: 780px) {
   .join_container{
    width: 65%;
   }
   .qus_heading {
  
    font-size: 26px;}
    .qus_heading_1 {
      font-size: 16px;}
      

.ans_heading {
   
    font-size: 16px;}
  }
  @media screen and (max-width: 480px) {
    .join_container{
      width: 100%;
     }
     .qus_heading {
  
      font-size: 22px;}
      .qus_heading_1 {
        font-size: 15px;}
        
        .join_wishlist {
       
          padding-bottom: 2rem;}
          .qus_heading_container {
          
            padding-bottom: 1rem;
        }
        .join_heading {
         
          font-size: 22px;}
  .ans_heading {
     
      font-size: 15px;}
      .more_heading{
  
   margin-bottom: 0rem;
        font-size: 16px;
      
      }
      .join_Btn{
        padding: 0.5rem;
      }
    
  }